#container {
    height: 100%;
    width: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 100;
}

#sub-container {
    height: 100%;
    width: 50%;

    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 50%);

    justify-content: center;
    align-items: center;

    font-size: 8px;

    & .retry {
        display: none;
    }
}

.container {
    display: flex;
    justify-content: center;

    height: 90%;
}

canvas {
    border: whitesmoke 1px solid;
    border-collapse: collapse;

    background-color: #222;
}

.cvs-main {
    height: 100%;
}

.cvs-sub {
    height: calc(100% * 17 / 20);
}

.sub-area {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;

    color: whitesmoke;
}

.text-area {
    display: flex;
    flex-direction: column;

    align-items: center;

    height: 100%;
}

.retry {
    font-size: 24px;
}
